*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #0077b6, #03045e, black);   
}

ul {
    padding: 0px!important;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.loggo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, black, #03045e);
    height: 8vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu{
    display: none;
    cursor: pointer;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width: 1010px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
    position: absolute;
    z-index: 10;
    top: 8vh;
    right: 0;
    width: 50vw ;
    height: 92vh;
    background: linear-gradient(to right, black, #03045e);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

button.slick-prev{
    display: inline-block;
    font-size: 0px;
    border: none;
    width: 64px;
    height: 64px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/arrow-left.png');
    top: 45%;
    left: 8%;
}

button.slick-next{
    display: inline-block;
    font-size: 0px;
    border: none;
    width: 64px;
    height: 64px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url('../img/arrow-right.png');
    top: 45%;
    right: 8%;
}

.slider-principal{
    width: 100%;
}

.slider-principal img{
    margin-top: 0px;
    height: 460px;
    border-top: 5px solid #03045e;
    border-bottom: 5px solid #03045e;
}

.slick-list{
    width: 100%!important;
}

.slick-initialized{
    overflow: hidden;
}

.slick-dots li button{
    font-size: 0px;
    border: 5px solid white;
    width: 26px;
    height: 26px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 43%;
    top: 400px;
}

li.slick-active button{
    background-color: #03045e;
}

.slick-dots li{
    padding: 10px;
    display: inline-block;
}

@media screen and (max-width: 1010px){
    .col-100{
        z-index: -auto;
        margin-bottom: 300px;
    }
    .slider-principal img{
        height: 380px;
    }
    .slick-dots{
        left: 42%;
        top: 320px;
    }
    .slick-dots li button{
    width: 22px;
    height: 22px;
    }   
    button.slick-next{
        top: 40%;
        right: 5%;
    }
    button.slick-prev{
        top: 40%;
        left: 5%;
    }
}

@media screen and (max-width: 750px){
    .col-100{
        z-index: -auto;
        margin-bottom: 200px;
    }
    .slider-principal img{
        height: 240px;
    }
    .slick-dots{
        left: 36%;
        top: 190px;
    }
    .slick-dots li button{
    width: 22px;
    height: 22px;
    }   
    button.slick-next{
        top: 40%;
        right: 8%;
    }
    button.slick-prev{
        top: 40%;
        left: 8%;
    }
}

main.cards{
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

main.cards section.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, black, #03045e);
    box-shadow: 0 0 1rem rgb(51, 51, 51);
    padding: 4rem 3.5rem;
    border-radius: 8px;
    max-height: 450px;
    margin-left: 32px;
}

main.cards section.card:first-child{
    margin-left: 0;
}

main.cards section.card .icon{
    width: 200px;
    height: 150px;
}


main.cards section.card img{
    width: 100%;
    border-radius: 5%;
}

main.cards section.card.high img{
    height: 135px;
}

main.cards section.card h3{
    color: white;
    font-size: 100%;
    margin: 16px;
}

main.cards section.card span{
    color: white;
    font-weight: 300px;
    max-width: 240px;
    font-size: 100%;
    margin-bottom: 20px;
}

main.cards section.card button{
    padding: 0.8rem 2.5rem;
    text-transform: uppercase;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
    font-size: 100%;
    font-weight: 500;
    color: white;
}

main.cards section.card.family button{
    background: linear-gradient(to right, #03045e, #0077b6, white);
}
main.cards section.card.high button{
    background: linear-gradient(to right, #03045e, #0077b6, white);
}
main.cards section.card.campo button{
    background: linear-gradient(to right, #03045e, #0077b6, white);
}
main.cards section.card.family {
    box-shadow: 20px 20px 50px --30px #DBC4FF;
}
main.cards section.card.high {
    box-shadow: 20px 20px 50px --30px #afd6ff;
}
main.cards section.card.campo {
    box-shadow: 20px 20px 50px --30px #ffc1d5;
}

@media screen and (max-width: 1010px){
    main.cards {
        flex-direction: column;
    }
    main.cards section.card{
        padding-top: 15px;
        margin-bottom: 32px;
    }
    main.cards section.card .icon{
        width: 200px;
        height: 125px;
    }
    main.cards section.card span{
        margin-left: 16px;
        font-size: 85%;
    }

    main.cards section.card.high{
        margin-left: 0;
    }
    main.cards section.card:last-child{
        margin-left: 0;
    }
}

@media screen and (max-width: 750px){
    main.cards {
        flex-direction: column;
        margin-top: 30px;
    }
    main.cards section.card{
        padding-left: 16px;
        margin-bottom: 32px;
        padding: 1rem 1.5rem;
    }
    main.cards section.card.high .icon{
        width: 180px;
    }
    main.cards section.card .icon{
        width: 150px;
        height: 100px;
    }
    main.cards section.card span{
        margin-left: 16px;
        font-size: 80%;
    }
    main.cards section.card.high{
        margin-left: 0;
    }
    main.cards section.card:last-child{
        margin-left: 0;
    }
    main.cards section.card button{
    padding: 0.5rem 1rem;
    font-size: 80%;
    }
}

.container-foot{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col ul{
    list-style: none;
}

.footer{
    background: linear-gradient(to right, black, #03045e);
    padding: 70px 0px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    display: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: white;
    padding-left: 8px;
}

/* .footer-col .social-links a{
    display: inline-block;
    flex-wrap: wrap;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
        color: #03045e;
        background-color: white;
} */

.footer-cool .social-links a i{
    background-color: white;
    border-radius: 50%;
}

@media screen and (max-width: 1010px){
    .footer{
        padding: 70px 50px;
        margin-top: 250px;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 750px){
    .footer{
        padding: 70px 50px;
        margin-top: 100px;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .footer-col li a{
    padding-left: 16px;
    }
}

@media screen and (max-width: 570px){
    .footer-col{
        width: 100%;
    }
}